<div class="dialog-content">
    <div class="dialog-header">
        <div class="dialog-title">Edit Issue Detail</div>
        <button mat-icon-button class="ms-auto" (click)="dismiss()">
            <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
    </div>
    <div class="dialog-body overflow-auto p-3">
        <form #l="ngForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Issue Reference No.</mat-label>
                            <input matInput [(ngModel)]="issueDetail.refNo" disabled name="refNo">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <input matInput [(ngModel)]="issueDetail.status" name="status" disabled="">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Severity</mat-label>
                            <input matInput [(ngModel)]="issueDetail.severity" name="severity">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <input matInput [(ngModel)]="issueDetail.category" name="category" #category="ngModel" required>
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Assigned Team</mat-label>
                            <input matInput [(ngModel)]="issueDetail.assignee" name="assignee">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Alert Policy</mat-label>
                            <input matInput [(ngModel)]="issueDetail.alert" name="alert">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Automation Policy</mat-label>
                            <input matInput [(ngModel)]="issueDetail.automation" name="automation">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="w-100">
                            <mat-label>Issue Description</mat-label>
                            <textarea matInput [(ngModel)]="issueDetail.description" name="description" maxlength="400"></textarea>
                            <mat-hint align="end">{{issueDetail.description.length || 0}}/400</mat-hint>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="dialog-footer">
        <button mat-raised-button class="ms-auto" (click)="doReset()">Refresh</button>
        <button mat-raised-button class="ms-3 btn-save" (click)="doSave(l)">Save</button>
    </div>
</div>