.padding-4-rem {
    padding: 4rem !important;
}


.prime-form-box {
    padding: 10px 20px;

    .prime-form-header {

        .Welcome {
            font-size: 16px !important;
            color: #000000;
            font-weight: 500 !important;
            text-transform: capitalize !important;
        }
    }
}

.content-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}