.table-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.w14p {
    width: 13px;
}

.pointer {
    cursor: pointer;
}

.gap3 {
    gap: 3px !important;
}

.LightGreen{
    background-color: #c5fcb2;
}

.Red{
    background-color: #ff9b9b;
}

.LightYellow{
    background-color: #ffffaf;
}

.Blue{
    background-color: rgb(255 244 0) !important;
}