.timer {
    // border-bottom: 1px solid rgba(0,0,0,0.12);
    ion-icon {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .text {
        line-height: 1;
        font-size: 12px;
    }
    .c-text{
        margin-bottom:0.5rem;
    }
}