<div class="panel-spacer">
    <div class="mw1280">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">
                    RESET PASSWORD
                </div>
            </div>
            <ng-container *ngIf="!successTrue && !emailsuccess">
                <div class="panel-body">

                    <div class="mw1170">
                        <app-stepper #registrationSteps>
                            <cdk-step label="Employer Information" [completed]="step1Completed">
                                <div class="panel-step">
                                    <form class="h100" autocomplete="off" #c="ngForm"
                                        (ngSubmit)="onSubmitConfidencial(c)">
                                        <div class="panel-stepper h100">
                                            <div class="panel-stepper-body">
                                                <div class="ab">
                                                    <div class="rel">
                                                        <div class="mw768 pt-4">
                                                            <div class="container-fluid">
                                                                <div class="row pb-3">
                                                                    <div class="col-xl-6">
                                                                        <app-input-control label="User ID"
                                                                            mandatory="true"
                                                                            [(ngModel)]="forgotpassword.password.username"
                                                                            tabindex="1" required
                                                                            [errorTrue]="forgotpassword.errorTrue"
                                                                            [btnClicked]="forgotpassword.btnClicked"
                                                                            name="username">
                                                                        </app-input-control>
                                                                    </div>
                                                                </div>
                                                                <div class="row pb-3">
                                                                    <div class="col-xl-6">
                                                                        <app-input-control label="Employer Ref No"
                                                                            mandatory="true"
                                                                            [(ngModel)]="forgotpassword.password.employerRefNo"
                                                                            tabindex="2" required
                                                                            [errorTrue]="forgotpassword.errorTrue"
                                                                            [btnClicked]="forgotpassword.btnClicked"
                                                                            name="employerRefNo">
                                                                        </app-input-control>
                                                                    </div>
                                                                </div>
                                                                <div class="row pb-3">
                                                                    <div class="col-xl-6">
                                                                        <app-email-control label="Your Registered Email"
                                                                            mandatory="true" email="true"
                                                                            [(ngModel)]="forgotpassword.password.contactEmailid"
                                                                            tabindex="3" required
                                                                            [errorTrue]="forgotpassword.errorTrue"
                                                                            [btnClicked]="forgotpassword.btnClicked"
                                                                            name="contactEmailid"
                                                                            #contactEmailid="ngModel" errorText="{{
                                                                            contactEmailid.invalid &&
                                                                            (contactEmailid.dirty || contactEmailid.touched)
                                                                              ? 'Invalid Email Format'
                                                                              : ''
                                                                          }}">
                                                                        </app-email-control>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-6 ">
                                                                        <!-- <app-input-control
                                                                        label="Your Registered Contact No"
                                                                        mandatory="true"
                                                                        [(ngModel)]="forgotpassword.password.contactMobileNo"
                                                                        tabindex="4" required
                                                                        [errorTrue]="forgotpassword.errorTrue"
                                                                        [btnClicked]="forgotpassword.btnClicked"
                                                                        name="contactMobileNo">
                                                                    </app-input-control> -->
                                                                        <app-phone-control
                                                                            [(ngModel)]="forgotpassword.password.contactMobileNo"
                                                                            name="contactMobileNo"
                                                                            label="Your Registered Contact No"
                                                                            placeholder="eg. 679-8888888" tabindex="4"
                                                                            pattern="([0-9]{10})$"
                                                                            errorText="Invalid Phone No">
                                                                        </app-phone-control>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-stepper-footer">
                                                <div class="text-right">
                                                    <button mat-raised-button color="accent" type="submit"
                                                        [disabled]="forgotpassword.btnClicked">
                                                        <ng-container *ngIf="!forgotpassword.btnClicked">
                                                            Next
                                                            <ion-icon name="arrow-forward-outline"></ion-icon>
                                                        </ng-container>
                                                        <ng-container *ngIf="forgotpassword.btnClicked">
                                                            <app-dot class="dot-big"></app-dot>
                                                        </ng-container>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </cdk-step>
                            <!-- <cdk-step label="Answer Security Questions" [completed]="step2Completed">
                            <div class="panel-step">
                                <form class="h100">
                                    <div class="panel-stepper h100">
                                        <div class="panel-stepper-body">
                                            <div class="ab">
                                                <div class="rel">
                                                    <div class="mw768 pt-4">
                                                        <div class="container-fluid">
                                                            <ng-container
                                                                *ngFor="let question of forgotpassword.password.portalUserSecurityQuestionList">
                                                                <div class="row pb-3">
                                                                    <div class="col-xl-6 d-flex">
                                                                        <app-input-control class="w-100"
                                                                            [label]="question.protoSecurityQuestion.question"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [(ngModel)]="question.encryptedAnswer">
                                                                        </app-input-control>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-stepper-footer">
                                            <div class="text-right">
                                                <button mat-raised-button color="accent" (click)="clickPrev()">
                                                    <ion-icon name="arrow-back-outline"></ion-icon>
                                                    Back
                                                </button>
                                                <button mat-raised-button color="accent" (click)="onSubmitSecurityQuestion()"
                                                    class="ml-3">
                                                    Next
                                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </cdk-step> -->
                            <cdk-step label="Transaction PIN" [completed]="step3Completed">
                                <div class="panel-step p-0 rel h100">
                                    <form autocomplete="off" #trp="ngForm" (ngSubmit)="onSubmitPin(trp)" class="h100">
                                        <div class="panel-stepper h100">
                                            <div class="panel-stepper-body">
                                                <div class="ab">
                                                    <div class="rel">
                                                        <div class="mw768 pt-4 h100">
                                                            <div class="container-fluid h100">
                                                                <div class="row pb-3 h100">
                                                                    <div class="col-xl-12 text-center">
                                                                        <div class="form-group">
                                                                            <label for="" class=" text-center">Enter
                                                                                Transaction
                                                                                PIN</label>
                                                                            <app-pin-control id="nptp" boxes="4"
                                                                                [(ngModel)]="forgotpassword.password.transactionPin"
                                                                                tabindex="1" required
                                                                                [errorTrue]="forgotpassword.errorTrue"
                                                                                [btnClicked]="forgotpassword.btnClicked"
                                                                                name="transactionPin" mandatory="true"
                                                                                password="true">
                                                                            </app-pin-control>
                                                                            <p class="text-danger mt-15px"
                                                                                *ngIf="forgotpassword.errorTrue && forgotpassword.password.transactionPin.length < 4">
                                                                                <small>Please Enter a Transaction
                                                                                    PIN</small>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-stepper-footer">
                                                <div class="text-right">
                                                    <a mat-raised-button color="accent" class="mr-3"
                                                        (click)="clickPrev()">
                                                        <ion-icon name="arrow-back-outline"></ion-icon>
                                                        Back
                                                    </a>
                                                    <button mat-raised-button color="accent" type="submit"
                                                        [disabled]="forgotpassword.btnClicked">
                                                        <ng-container *ngIf="!forgotpassword.btnClicked">
                                                            Next
                                                            <ion-icon name="arrow-forward-outline"></ion-icon>
                                                        </ng-container>
                                                        <ng-container *ngIf="forgotpassword.btnClicked">
                                                            <app-dot class="dot-big"></app-dot>
                                                        </ng-container>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </cdk-step>
                            <cdk-step label="Set Password" [completed]="step4Completed">
                                <div class="panel-step p-0 rel h100">
                                    <form autocomplete="off" #sp="ngForm" (ngSubmit)="setPassword(sp)" class="h100">
                                        <div class="panel-stepper h100">
                                            <div class="panel-stepper-body">
                                                <div class="ab">
                                                    <div class="rel">
                                                        <div class="mw768 pt-4 h100">
                                                            <div class="container-fluid h100">
                                                                <div class="row pb-3">
                                                                    <div class="col-xl-5">
                                                                        <app-password-control label="New Password"
                                                                            [(ngModel)]="forgotpassword.setpw.password"
                                                                            tabindex="1" strength="true" required
                                                                            [errorTrue]="password.dirty && !password.valid"
                                                                            [btnClicked]="forgotpassword.btnClicked"
                                                                            name="password" #password="ngModel"
                                                                            mandatory="true" [pattern]="data.pattern">
                                                                        </app-password-control>
                                                                    </div>
                                                                </div>
                                                                <div class="row pb-3">
                                                                    <div class="col-xl-5">
                                                                        <app-password-control label="Confirm Password"
                                                                            [(ngModel)]="password.cpsw" tabindex="2"
                                                                            required
                                                                            [errorTrue]="forgotpassword.errorTrue"
                                                                            [btnClicked]="forgotpassword.btnClicked"
                                                                            name="cpsw" mandatory="true"
                                                                            #cpsw="ngModel">
                                                                        </app-password-control>
                                                                        <p class="text-danger"
                                                                            *ngIf="cpsw.dirty && password.cpsw !== forgotpassword.setpw.password">
                                                                            <small>Password Mismatch</small>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-stepper-footer">
                                                <div class="text-right">
                                                    <a mat-raised-button color="accent" class="mr-3"
                                                        (click)="clickPrev()">
                                                        <ion-icon name="arrow-back-outline"></ion-icon>
                                                        Back
                                                    </a>
                                                    <button mat-raised-button color="accent" type="submit"
                                                        [disabled]="forgotpassword.btnClicked">
                                                        <ng-container *ngIf="!forgotpassword.btnClicked">
                                                            Submit
                                                        </ng-container>
                                                        <ng-container *ngIf="forgotpassword.btnClicked">
                                                            <app-dot class="dot-big"></app-dot>
                                                        </ng-container>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </cdk-step>
                        </app-stepper>
                    </div>
                </div>
            </ng-container>
            <div class="panel-body" *ngIf="successTrue && !emailsuccess">
                <div class="h100 bg-white">
                    <div class="stepper-container pt-5">
                        <div class="stepper-content">
                            <div class="panel-step">
                                <div class="v-center">
                                    <div class="s-box text-center">
                                        <div class="circle-tick"></div>
                                        <p>Your credentials are successfully updated.Click on home
                                            button to login with new credentials.
                                        </p>
                                        <button mat-raised-button color="accent" class="ml-3" [routerLink]="['/']">
                                            <ion-icon name="arrow-back-outline"></ion-icon>
                                            Home

                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" *ngIf="emailsuccess && !successTrue">
                <div class="h100 bg-white">
                    <div class="stepper-container">
                        <div class="stepper-content">
                            <div class="panel-step">
                                <div class="v-center">
                                    <div class="s-box text-center">
                                        <div class="circle-tick"></div>
                                        <p>{{forgotpassword.password.msg.infoMessage.msgDescription}}
                                        </p>
                                        <button mat-raised-button color="accent" class="ml-3" [routerLink]="['/']">
                                            <ion-icon name="arrow-back-outline"></ion-icon>
                                            Home

                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>