.i-btn-small {
    height: 26px;
    line-height: 26px;
    font-size: 10px;
    // padding: 0;
    color: rgba(0, 0, 0, 0.5);
    width: 26px;
}

.mtm3 {
    margin-top: -3px !important;
}