.password-strength {
    position: absolute;
    background: white;
    z-index: 1;
    max-width: 225px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    bottom: calc(100% + 8px);
    right: 0;
    padding: 16px;

    .password-strength-meter {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 8px;
        justify-content: center;
        gap: 4px;

        .strength-meter {
            flex: 1;
            height: 6px;
            background: #EdedEd;
            border-radius: 3px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 6px;
                background-color: #EdedEd;
                top: 0;
                left: 0;
                border-radius: 3px;
                transition: width 0.3s;
                z-index: 1;
            }

            &.step1 {
                &:after {
                    width: 100%;
                    background: #FF4759;
                }
            }

            &.step2 {
                &:after {
                    width: 100%;
                    background: #FB7800;
                }
            }

            &.step3 {
                &:after {
                    width: 100%;
                    background: #FBA700;
                }
            }

            &.step4 {
                &:after {
                    width: 100%;
                    background: #23AE5D;
                }
            }
        }
    }

    .strength-character {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 0 4px;

        &.success {

            .strength-main,
            .strength-small,
            .check-icon {
                color: green;
            }

            .check-icon {
                opacity: 1;
            }
        }

        .strength-main {
            width: 36px;
            font-weight: 600;
            font-size: 14px;
            color: black;
            text-align: center;
            opacity: 0.8;
        }

        .strength-small {
            font-size: 12px;
            color: black;
            opacity: 0.7;
        }

        .check-icon {
            opacity: 0;
            width: 16px;
            height: 16px;
            margin-left: auto;
            min-width: 16px;
        }
    }
}