<div class="body-pattern h100">
    <div class="py-2 slot-center h100">
        <div class="welcome-cover">
            <div class="welcome-side-left">
            </div>
            <div class="welcome-side-right">
                @if(!successMsg) {
                <div class="div-center h100">
                    <div class="d-flex content-center">
                        <img src="assets/svg/Immi-LoginLogo.svg">
                    </div>
                    <div class="pb26"></div>
                    <form #l="ngForm" class="prime-form-box" (ngSubmit)="onSubmit(l)">
                        <div class="prime-form-header">
                            <h3 class="Welcome">
                                Reset Password
                            </h3>
                            <p class="sub-content-text">
                                To access the application set password.
                            </p>
                        </div>
                        <div>
                            <app-input-control type="text" label="Username" [(ngModel)]="login.userLoginId"
                                name="userLoginId" [btnClicked]="true" />
                        </div>
                        <div>
                            <app-input-control type="password" label="New Password" [(ngModel)]="login.newPassword"
                                [passwordStrength]="true" name="newPassword" [errorTrue]="errorTrue"
                                [required]="true" />
                        </div>
                        <div>
                            <app-input-control type="password" label="Confirm Password"
                                [(ngModel)]="login.confirmPassword" name="confirmPassword" [errorTrue]="errorTrue"
                                [passwordStrength]="true" [required]="true" />
                        </div>
                        <div class="pb26"></div>
                        <div class="justify-content-end p-2">
                            <button class="btn-primary login-btn" appButton="Submit" type="submit">
                            </button>
                        </div>
                    </form>
                </div>
                } @else {
                <div class="div-center h100">
                    <div class="d-flex content-center">
                        <img src="assets/svg/Immi-LoginLogo.svg">
                    </div>
                    <div class="prime-form-header slot-center py-2">
                        <h3 class="Welcome mb-2">
                            Reset Password
                        </h3>
                    </div>
                    <div class="text-center success-icon">
                        <ion-icon src="assets/svg/success-filled-svgrepo-com.svg"></ion-icon>
                    </div>
                    <div class="prime-form-container">
                        <div class="pt-4 text-center pt35">
                            <div class="text-success fs18">
                                {{loginData.msg.infoMessage.msgDescription}}
                            </div>
                        </div>
                    </div>
                    <div class="pb26"></div>
                    <div class="slot-center p-2">
                        <button class="btn-primary w100 login-btn" appButton="Sign In" type="submit" (click)="goToLogin()">
                        </button>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>