// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


$FID_INTERNAL_PRIMARY: (
  50 : #e5eeff,
  100 : #bfd5fe,
  200 : #94bafe,
  300 : #699efd,
  400 : #4889fc,
  500 : #2874fc,
  600 : #246cfc,
  700 : #1e61fb,
  800 : #1857fb,
  900 : #0f44fa,
  A100 : #ffffff,
  A200 : #f2f5ff,
  A400 : #bfcbff,
  A700 : #a6b7ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FID_INTERNAL-primary: mat.define-palette($FID_INTERNAL_PRIMARY);
$FID_INTERNAL-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FID_INTERNAL-warn: mat.define-palette(mat.$red-palette);

$FID_INTERNAL-typography: mat.define-typography-config($font-family: '"Metropolis", sans-serif',
    $body-1: mat.define-typography-level(14px, 14px, 400),
    $body-2: mat.define-typography-level(14px, 14px, 400),
  );

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FID_INTERNAL-theme: mat.define-light-theme((color: (primary: $FID_INTERNAL-primary,
        accent: $FID_INTERNAL-accent,
        warn: $FID_INTERNAL-warn,
      ),
      typography: $FID_INTERNAL-typography,
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FID_INTERNAL-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --font-family: "Metropolis", sans-serif;
  --font-default-size: 14px;
  --font-default-weight: 400;

  // colors
  --body-background-color: #F2F2F2;
  --app-bg: #E0E0E0;
  --text-dark-color: #000000;
  --text-light-color: #7A7A7A;
  --text-light-color1: #4F4F4F;
  --text-light-color2: #848484;
  --text-color-grey1: #333333;
  --text-color-grey2: #EEEEEE;
  --text-color-grey3: #828282;
  --text-color-grey4: #75757B;
  --text-label-color: #595959E5;
  --text-table-header-label-color: #F2F2F2;
  --app-black: #000000;
  --app-gray2: #4F4F4F;
  --app-gray3: #828282;
  --app-primary: #2874fc;
  --app-primary-alt: #1650CE;
  --app-primary-800: #1857fb;
  --app-danger: #BE1622;
  --app-warning: #EC681C;
  --app-info: #BC9809;
  --app-success: #439326;
  --app-success1: #01A53D;
  --app-secondary: #00103B;
  --app-secondary-text: #F8F9FA;
}

