<div class="wrapper">
  <div class="maintain-center">
    <div class="user-selection">
      <div class="d-flex between">
        <div class="p8"><img src="assets/svg/logo_img.svg"></div>
        <div class=" header1">Fiji Immigration</div>
    </div>
      <div class="title">Site Under Maintenance</div>
      <div class="selections">
        <div class="maintenance-img">
          <img src="assets/svg/under-maintenance.svg" alt="">
        </div>
      </div>
      <div class="selection-footnote" [innerHTML]="textHtml | appSafe: 'html'"></div>
    </div>
  </div>
</div>