.i-btn-2 {
    font-size: 80%;
    opacity: 0.75;
    // line-height: 1.5;
    text-decoration: none;
    padding: 0;
    min-width: auto;
    // margin-bottom: 0.5rem;
    height: 14px !important;
    line-height: 14px !important;

    &:hover {
        text-decoration: none;
    }
}

.password-cover {
    width: 100%;
    max-width: 230px;
    min-width: 230px;

    h4 {
        font-size: 14px;
    }
}
