.paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;

    .flex {
        display: flex;
        align-items: center;
    }

    .paginator-item-select-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #d8d8d8 !important;
        font-weight: 400;
        width: 100%;
    }

    .paginator-previous,
    .paginator-page,
    .paginator-next {
        width: 80px;
        height: 31px;
        min-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        background: #D9D9D980;
        color: #000000CC;
        position: relative;

        &.active {
            color: var(--bs-primary);
            font-weight: 600;
        }

        &:active {
            background-color: #bdbdbd;
        }
    }

    .paginator-page {
        min-width: 0;
        width: 0;
        height: 0;
        overflow: hidden;

        &.show {
            min-width: 24px;
            width: auto;
            height: 24px;
            overflow: unset;
            padding: 0 4px;
        }

        &.dots:not(.active) {
            min-width: 24px;
            color: transparent;
            height: 24px;
            overflow: unset;
            padding: 0 4px;
            position: relative;

            &:after {
                content: '...';
                color: black;
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                text-align: center;
                font-size: 16px;

            }
        }
    }

    .paginator-previous,
    .paginator-next {
        margin: 0px 10px 0px 5px;
        // border: 1px solid #ccc;
        // border-radius: 5px;
    }
}

.paginator-item-select {
    display: flex;
    align-items: center;
    border-radius: 3px;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #00000080;
}

.paginator-item-select-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 1%;
    margin: 0.25rem 0.5rem;
}

.paginator-select-svg {
    margin-right: 0.25rem;
}

.text-dull {
    color: #00000080;
    font-weight: 400;
}

.paginator-select-input {
    width: 57px;
    height: 23px;
    background: #D9D9D980;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    border-radius: 6px;
    padding: 7px 4px 7px 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #00000080;
    font-weight: 600;

    .mat-mdc-select-value {
        margin-right: 0.25rem
    }
}

.paginator-dropdown {
    margin-left: auto;
}

.paginator-select-option {
    min-height: 24px;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    // max-width: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.paginator-slider {
    display: flex;
    align-items: center;
    // transition: 0.3s all ease;
}

.input-number {
    height: 24px;
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 400;
    border-radius: 4px;

    &:focus,
    &:active {
        outline: 0;
    }
}

.btn-go {
    margin-right: 8px;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--bs-primary);
    display: flex;
    align-items: center;
    width: 55px;
    gap: 6px;

    span {
        height: 12px;
        display: flex;
        align-items: center;
    }

    &:hover,
    &:focus,
    &:active {
        outline: 0;
    }
}

.form-flex {
    display: flex;
    align-items: center;
}

.mat-mdc-select-value-text {

    color: #d8d8d8 !important;
}